@model IEnumerable<MiniClinic.Entities.MedicalRecord>

@{
    ViewData["Title"] = "Medical Records";
}

<div class="card mt-4">
    <div class="card-header bg-secondary text-white">
        <h2 class="mb-0">Medical Records</h2>
    </div>
    <div class="card-body">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdcDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdcCode)
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdcDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdcCode)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
