@model IEnumerable<MiniClinic.Entities.Patient>

@{
    ViewData["Title"] = "Patients";
}

<div class="card mt-4">
    <div class="card-header bg-secondary text-white">
        <h2 class="mb-0">Patients</h2>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            Doctor
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @item.Doctor.Name
                            </td>
                            <td>
                                <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure?');" class="d-inline">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
